* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

.everything {
  display: flex;
  border: 1px solid purple;
}

.place-holder {
  border: 1px solid green;
  width: 40%;
  height: 100%;
}

.parent-container {
  display: flex;
  border: 1px solid red;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
}

/* Poster (fixed) */

.poster {
  position: fixed;
  padding: 20px;
  height: 97%;
  left: 30px;
  top: 23px;
  z-index: 50;

  background: #ffffff;
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}

/* Share, Menu Buttons (fixed) */

.share-button {
  position: fixed;
transform: scale(0.03);
  right: -500px;
  bottom: 610px;
  
}

.menu-button {
  position: fixed;
  transform: scale(0.03);
  right: -24%;
  bottom: 45%;
  border-radius: 200px;
  background: white;
}

/* Home */

/* watch-film-text */

.watch-film-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 275;
  font-size: 55px;
  line-height: 66px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.underline-heading {
  width: 325px;
  height: 0px;
  left: 1897px;
  top: 804px;

  border: 0.5px solid #ffffff;
}

/* need-button */

.need-button {
  width: 274px;
  height: 44px;
  left: 2106px;
  top: 863px;

  background: radial-gradient(
    65.33% 561.23% at 50% 50%,
    #ffffff 0%,
    #000000 100%
  );
  box-shadow: 0px 0px 20px 10px rgba(72, 72, 72, 0.5);
  border-radius: 15px;
}

.need-text {
  width: 378px;
  height: 44px;
  left: 2054px;
  top: 863px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}

/* have-password */

.have-button {
  width: 274px;
  height: 44px;
  left: 1728px;
  top: 863px;

  background: radial-gradient(
    65.33% 561.23% at 50% 50%,
    #ffffff 0%,
    #000000 100%
  );
  box-shadow: 0px 0px 20px 10px rgba(72, 72, 72, 0.5);
  border-radius: 15px;
}

.have-text {
  width: 378px;
  height: 44px;
  left: 1676px;
  top: 862px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}
