html,
body,
#root {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;

  scrollbar-width: none;
}

h1 {
  display: inline-block;
}

.everything {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.poster-things {
  display: flex;

  width: 100%;
  height: 1290px;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgb(0, 255, 200);
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 5px solid rgb(0, 4, 255);
}

.poster {
  padding: 20px;
  height: 90%;

  background: #ffffff;
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}

.share-button {
  position: fixed;
  width: 30px;
  right: 80px;
  top: 30px;
}

.menu-button {
  position: fixed;
  width: 30px;
  right: 30px;
  top: 30px;
  border-radius: 5px;
  background: white;
}


.rights-notice {
  position: fixed;
  bottom: -20px;
  left: 50%;

  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;

  white-space: nowrap;
  letter-spacing: 0.05em;

  color: #959595;
  background: #000000;

  transform: translateX(-50%);
  z-index: 1000;
  padding: 5px 1280px;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;

  background: #000000;
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.25);

  border-radius: 50px;
}

/* headings */

.heading-thin {
  font-family: "Lato";
  font-style: normal;
  font-weight: 275;
  font-size: 55px;
  line-height: 66px;

  color: #ffffff;
}

.heading-thick {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 66px;

  color: #ffffff;
}

.film-text {
  margin-left: 10px;
}

.underline-heading-home {
  width: 315px;
  height: 0px;
  margin-left: 13px;
  margin-top: -35px;
  margin-bottom: 40px;

  border: 0.5px solid #ffffff;
}

.oswald {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;

  letter-spacing: 0.05em;
}

.home-buttons {
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: space-evenly;
}

/* need-button */

.need-text {
  width: 378px;
  height: 44px;
  display: inline;
  margin-right: -515px;
  margin-top: 3px;
  z-index: 10;
  color: #000000;
}

.need-button {
  width: 274px;
  height: 44px;

  background: radial-gradient(
    65.33% 561.23% at 50% 50%,
    #ffffff 0%,
    #000000 100%
  );
  box-shadow: 0px 0px 20px 10px rgba(72, 72, 72, 0.5);
  border: none;
  border-radius: 15px;
}

/* have-password */

.have-text {
  width: 378px;
  height: 44px;
  display: inline;
  margin-right: -515px;
  margin-top: 3px;
  z-index: 10;
  color: #000000;
}

.have-button {
  width: 274px;
  height: 44px;

  background: radial-gradient(
    65.33% 561.23% at 50% 50%,
    #ffffff 0%,
    #000000 100%
  );
  border: none;
  box-shadow: 0px 0px 20px 10px rgba(72, 72, 72, 0.5);
  border-radius: 15px;
}

/*Pay-As-You-Like*/

.you-like-text {
  margin-left: -10px;
}

.underline-heading-payasyoulike {
  width: 416px;
  height: 0px;
  margin-left: 9px;
  margin-top: -35px;
  margin-bottom: 20px;
  border: 0.5px solid #ffffff;
}

.payasyoulike {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;

  margin-top: 50px;

  padding: 0px 30px;
  background: #000000;
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}

.main-text {
  width: 1158px;
  height: 591px;
  left: 1463px;
  top: 167px;

  text-align: justify;

  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;

  color: #ffffff;
}

.thanks {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  margin-top: -320px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.division-description {
  width: 856px;
  height: 0px;

  margin-top: -10px;
  margin-bottom: 40px;
  left: 1615px;
  top: 641px;
  border: 1px solid #ffffff;
}

.password-instructions {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-bottom: -3px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  z-index: 100;

  color: #ffffff;
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  background-color: black;
  border-color: #ff7a00;
  border-radius: 15px;
}

.user-details {
  display: flex;

  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  padding: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
  border-width: 5px 30px 5px 30px;
  border-style: solid;
  border-color: #ff7b00;
  box-shadow: 0px 0px 30px 5px rgba(255, 122, 0, 0.5);
  border-radius: 20px;
}

.name-email-amount {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

.name-text {
  margin-top: -20px;
}

.optional-text {
  margin-top: -25px;
  font-size: 15px;
}

.email-text {
  margin-top: 10px;
}

.amount-text {
  margin-top: 14px;
}

.contribution-zero {
  font-size: 15px;
  width: 300px;
  line-height: 19px;
  text-align: justify;
  margin-left: 13px;
  margin-top: 0px;
}

.inputs {
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.input-format {
  width: 300px;
  height: 30px;
  margin: 15px;
  background-color: black;
  border: 0px;
  border-bottom: 0.5px solid white;
}

.payasyoulike-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-password-text {
  justify-self: center;
  align-content: center;

  z-index: 10;
  color: #000000;
}

.get-password-button {
  width: 274px;
  height: 44px;
  margin-top: -65px;

  background: radial-gradient(
    65.33% 561.23% at 50% 50%,
    #ffffff 0%,
    #000000 100%
  );
  box-shadow: 0px 0px 20px 10px rgba(72, 72, 72, 0.5);
  border: none;
  border-radius: 15px;
}

.contri-cyl {
  width: 80%;
  height: 100px;
  margin-top: 180px;

  background: #ffcaaf;
  box-shadow: 0px 0px 20px 15px rgba(255, 255, 255, 0.2);
}
