/*Pay-As-You-Like*/

.payasyoulike {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;

  margin-top: 60px;

  padding: 0px 50px 50px 50px;
  background: #000000;
  box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.you-like-text {
  margin-left: -10px;
}

.underline-heading-payasyoulike {
  width: 416px;
  height: 0px;
  margin-left: 9px;
  margin-top: -35px;
  margin-bottom: 20px;
  border: 0.5px solid #ffffff;
}

#scroll-landing-payasyoulike {
  width: 10px;
  height: 10px;
  margin-top: -20px;
  margin-bottom: -30px;

  /* border: 1px solid red; */
}

.main-text {
  width: 1158px;
  height: 591px;
  left: 1463px;
  top: 167px;

  text-align: justify;

  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;

  color: #ffffffc0;
}

.thanks {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  margin-top: -355px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.division-description {
  width: 800px;
  height: 0px;

  margin-top: -10px;
  margin-bottom: 40px;
  left: 1615px;
  top: 641px;
  border: 1px solid #ffffff;
}

.password-instructions {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-bottom: -3px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  z-index: 100;

  color: #ffffff;
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  background-color: black;
  border-color: #ff7a00;
  border-radius: 5px;
}

.payasyoulike-form {
  position: relative;
}

.user-details {
  display: flex;

  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
  border-width: 5px 30px 5px 30px;
  border-style: solid;
  border-color: #ff7b00;
  box-shadow: 0px 0px 30px 5px rgba(255, 122, 0, 0.2);
  border-radius: 20px;
}

.name-email-amount {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.name-text {
  margin-top: -15px;
}

.optional-text {
  margin-top: -25px;
  font-size: 15px;
}

.email-text {
  margin-top: 6px;
}

.amount-text {
  margin-top: 11px;
}

.contribution-zero {
  font-size: 15px;
  width: 300px;
  line-height: 19px;
  text-align: justify;
  margin-left: 17px;
  margin-top: 0px;
}

.inputs {
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.input-format {
  width: 300px;
  height: 30px;
  margin: 15px;
  background-color: black;
  border: 0px;
  outline: none;
  color: white;
  border-bottom: 0.5px solid white;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}

.input-format::-webkit-inner-spin-button,
.input-format::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input-amount {
  width: 240px;
  margin-left: 75px;
}

.currency-selector {
  position: absolute;
  width: 55px;
  margin-left: 110px;
  margin-top: 79px;
  padding-top: 2px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;

  transform: scaleY(1.1);

  background-color: black;
  color: white;
  border: 0.5px solid white;
}

.payasyoulike-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.get-password-button {
  cursor: pointer;
  width: 274px;
  height: 44px;
  margin-top: 25px;

  background: radial-gradient(
    65.33% 561.23% at 50% 50%,
    #ffffff 0%,
    #000000 100%
  );
  box-shadow: 0px 0px 20px 10px rgba(72, 72, 72, 0.2);
  border: none;
  border-radius: 15px;

  color: black;
}

.get-password-button-show {
  cursor: pointer;
  opacity: 1;
}

.get-password-button-active:active {
  opacity: 0.5;
  transition: opacity 0.1s ease;
}

.contribution.section {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.contribution-chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 80px;
  position: relative;
}

.contribution-fill {
  width: 5%;
  height: 100%;
  background: #ffffff;
  z-index: 20;
}

.contri-cyl {
  width: 100%;
  height: 100%;
  /* margin-top: 80px; */

  flex-grow: 0;
  /* flex-shrink: 0; */
  flex-basis: 100%;

  background: #000000;
  box-shadow: 0px 0px 25px 15px rgba(255, 255, 255, 0.1);
}

.tube-curve-top,
.tube-curve-bottom {
  /* margin-bottom: -520px; */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.tube-curve-top {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(84, 0, 0, 0.5) 100%
  );
}

.tube-curve-bottom {
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(134, 1, 1, 0.5) 100%
  );
}

.budget-marker {
  margin-right: -100%;
  height: 100%;
  border: 1px solid white;
  z-index: 20;
}

.budget-box,
.contri-box {
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  display: flex;

  color: #ffffff;
}

.budget-box {
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 40px;
  display: flex;
  border: 1px solid white;
  padding: 0 10px;
  margin-left: 497.5px;
}

.contri-box {
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-right: 7px;
  padding-left: 7px;
  height: 35px;
  border: 1px 1px 1px 1px;
  border-style: solid;
  background: #ffffff;
  border-color: #ffffff;
}

.budget-num,
.contri-num {
  color: red;
  margin-left: 7px;
}

.contri-text,
.budget-text {
  font-size: 18px;
}
.contri-text {
  color: rgb(50, 50, 50);
}

.contri-num {
  color: rgb(255, 0, 0);
}

.payasyoulike-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.solver-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.7);
}

.solver {
  width: fit-content;
  height: fit-content;
  opacity: 0;
  transition: opacity 1s ease;
  font-family: "Questrial";
  font-style: normal;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 3px solid #ff7b00;

  text-align: center;
  line-height: 10px;
}

.loading-animation {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}

.solver > h1 {
  margin-top: 15px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.solver-button {
  cursor: pointer;

  justify-content: center;
  align-content: center;

  width: 65px;
  height: 25px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #000000;

  background: radial-gradient(
    65.33% 561.23% at 50% 50%,
    #d4d4d4 0%,
    #959595 100%
  );

  border: none;
  border-radius: 5px;
}

.solver-button-cancel {
  cursor: pointer;

  justify-content: center;
  align-content: center;

  width: 65px;
  height: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 15px;
  color: #000000;

  background: radial-gradient(
    65.33% 561.23% at 50% 50%,
    #d4d4d4 0%,
    #959595 100%
  );

  border: none;
  border-radius: 5px;
}

.input-solver {
  z-index: 2001;

  border: none;
  outline: none;
  text-align: center;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;

  width: 30px;
  height: 25px;
  margin: 0px;
  color: black;
  background: white;
  border-bottom: 2px solid black;
}

.email-notice {
  position: absolute;
  z-index: 3000;
  width: fit-content;
  height: fit-content;
  opacity: 0;
  transition: opacity 1s ease;
}

.email-notice-show {
  opacity: 1;
}

.msg-paid-notice {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 0;
  width: fit-content;
  height: fit-content;
  opacity: 0;
  transition: opacity 1s ease;
}

.msg-paid-notice-show {
  opacity: 1;
  z-index: 2000;
}

.solver-show {
  opacity: 1;
}

.msg-paid-notice > h1,
.email-notice > h1 {
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: white;
  background: rgb(50, 182, 2);
  border-radius: 5px 5px 5px 5px;
  padding: 20px 10px 20px 10px;
  text-align: center;
}

/* --------------------------------------------------------------------- */

@media (max-width: 1620px) {
  #scroll-landing-payasyoulike {
    width: 10px;
    height: 10px;
    margin-top: -30px;
    margin-bottom: -20px;

    /* border: 1px solid red; */
  }

  .underline-heading-payasyoulike {
    width: 340px;
    margin-left: 6px;
    margin-top: -35px;
    margin-bottom: 20px;
  }

  .main-text {
    width: 1000px;
    height: 570px;

    font-size: 20px;
    line-height: 33px;
  }

  .thanks {
    font-size: 26px;
    letter-spacing: 0.01em;
  }

  .division-description {
    width: 735px;
    margin-top: -15px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1220px) {
  #scroll-landing-payasyoulike {
    width: 10px;
    height: 10px;
    margin-top: -140px;
    margin-bottom: -20px;

    /* border: 1px solid red; */
  }

  .underline-heading-payasyoulike {
    width: 295px;
    margin-left: 4px;
    margin-top: -35px;
    margin-bottom: 17px;
  }

  .main-text {
    width: 850px;
    height: 570px;

    font-size: 18px;
    line-height: 30px;
  }

  .thanks {
    font-size: 24px;
    letter-spacing: 0.01em;
  }

  .division-description {
    width: 680px;
    margin-top: -15px;
    margin-bottom: 25px;
  }
}

@media (max-width: 1025px) {
  #scroll-landing-payasyoulike {
    width: 10px;
    height: 10px;
    margin-top: -250px;
    margin-bottom: -30px;

    /* border: 1px solid red; */
  }

  .underline-heading-payasyoulike {
    width: 264px;
    margin-left: 4px;
    margin-top: -35px;
    margin-bottom: 17px;
  }

  .main-text {
    width: 600px;
    height: 570px;

    font-size: 16px;
    line-height: 24px;
  }

  .thanks {
    font-size: 21px;
    letter-spacing: 0.01em;
  }

  .division-description {
    width: 595px;
    margin-top: -15px;
    margin-bottom: 25px;
  }

  .contribution-chart {
    width: 600px;
    height: 60px;
  }

  .budget-box {
    height: 40px;
    width: 281px;

    margin-left: 297px;
  }
}

@media (max-width: 769px) {
  #scroll-landing-payasyoulike {
    width: 10px;
    height: 10px;
    margin-top: -520px;
    margin-bottom: -40px;

    /* border: 1px solid red; */
  }

  .payasyoulike {
    padding: 0px 30px 50px 30px;
  }

  .you-like-text {
    margin-left: -8px;
  }

  .underline-heading-payasyoulike {
    width: 227px;
    margin-left: 4px;
    margin-top: -35px;
    margin-bottom: 14px;
  }

  .main-text {
    width: 450px;
    height: 570px;

    font-size: 13px;
    line-height: 22px;
    margin-bottom: 6px;
  }

  .thanks {
    font-size: 16px;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
  }

  .division-description {
    width: 453px;
    margin-top: -15px;
    margin-bottom: 25px;
  }

  .contribution-chart {
    width: 450px;
    height: 60px;
  }

  .budget-box {
    height: 40px;
    width: fit-content;
    margin-left: 214px;
  }

  .contri-text,
  .budget-text {
    font-size: 14px;
  }

  .budget-box,
  .contri-box {
    font-size: 15px;
  }

  /* ****************************************** */

  .password-instructions {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: -1px;
  }

  .user-details {
    font-size: 18px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    letter-spacing: 0.03em;

    border-width: 3px 20px 3px 20px;
    border-style: solid;
    border-color: #ff7b00;
    box-shadow: 0px 0px 30px 5px rgba(255, 122, 0, 0.2);
    border-radius: 20px;
  }

  .name-email-amount {
    margin-top: -1px;
  }

  .name-text {
    margin-top: -15px;
  }

  .optional-text {
    margin-top: -18px;
    font-size: 10px;
  }

  .email-text {
    margin-top: 10px;
  }

  .amount-text {
    margin-top: 9px;
  }

  .contribution-zero {
    font-size: 13px;
    width: 262px;
    line-height: 17px;
    margin-left: 9px;
    margin-top: 0px;
  }

  .input-format {
    width: 260px;
    height: 25px;
    margin: 10px;
    font-size: 18px;
  }

  .input-amount {
    width: 201px;
    margin-left: 68px;
  }

  .currency-selector {
    position: absolute;
    width: 50px;
    margin-left: 78px;
    margin-top: 52px;
    padding-top: 2px;
    font-size: 13px;
  }

  .payasyoulike-button {
    margin-bottom: 35px;
  }

  .oswald {
    font-size: 19px;
  }

  .get-password-button {
    width: 170px;
    height: 32px;
    margin-top: 25px;

    background: radial-gradient(
      65.33% 561.23% at 50% 50%,
      #ffffff 0%,
      #000000 100%
    );
    box-shadow: 0px 0px 20px 10px rgba(72, 72, 72, 0.2);
    border: none;
    border-radius: 15px;
  }

  /* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

  .solver-button {
    width: 62px;
    height: 25px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #000000;

    background: radial-gradient(
      65.33% 561.23% at 50% 50%,
      #d4d4d4 0%,
      #959595 100%
    );

    border: none;
    border-radius: 5px;
  }

  .solver-button-cancel {
    cursor: pointer;

    justify-content: center;
    align-content: center;

    width: 62px;
    height: 25px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 15px;
    color: #000000;

    background: radial-gradient(
      65.33% 561.23% at 50% 50%,
      #d4d4d4 0%,
      #959595 100%
    );

    border: none;
    border-radius: 5px;
  }
}

@media (max-width: 481px) {
  #scroll-landing-payasyoulike {
    width: 10px;
    height: 10px;
    margin-top: -20px;
    margin-bottom: 0px;

    /* border: 1px solid red; */
  }

  .payasyoulike {
    margin-top: 0px;
    padding: 0px 20px 40px 20px;
  }

  .you-like-text {
    margin-left: -6px;
  }

  .underline-heading-payasyoulike {
    width: 168px;
    margin-left: 2px;
    margin-top: -35px;
    margin-bottom: 10px;
  }

  .main-text {
    width: 300px;
    height: 570px;

    font-size: 12px;
    line-height: 19px;
    margin-bottom: 50px;
  }

  .thanks {
    font-weight: 250;
    font-size: 12px;
    letter-spacing: 0em;
    margin-bottom: 20px;
  }

  .division-description {
    width: 302px;
    margin-top: -15px;
    margin-bottom: 15px;
    border: 0.5px solid #ffffff;
  }

  .contribution-chart {
    width: 300px;
    height: 40px;
  }

  .budget-box {
    height: 25px;
    width: fit-content;
    margin-left: 120px;
  }

  .contri-box {
    height: 20px;
  }

  .contri-text,
  .budget-text {
    font-size: 10px;
  }

  .budget-box,
  .contri-box {
    font-size: 11px;
  }

  /* ****************************************** */

  .password-instructions {
    font-weight: 300;
    font-size: 11px;
    line-height: 17px;
    margin-bottom: -1px;
  }

  .user-details {
    font-size: 13px;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;

    letter-spacing: 0.01em;

    border-width: 3px 10px 3px 10px;
    border-style: solid;
    border-color: #ff7b00;
    box-shadow: 0px 0px 30px 5px rgba(255, 122, 0, 0.2);
    border-radius: 15px;
  }

  .name-email-amount {
    margin-top: -11px;
  }

  .name-text {
    margin-top: -8px;
  }

  .optional-text {
    margin-top: -11px;
    font-size: 10px;
  }

  .email-text {
    margin-top: 3px;
  }

  .amount-text {
    margin-top: 11px;
  }

  .contribution-zero {
    font-size: 10px;
    width: 200px;
    line-height: 14px;
    margin-left: 9px;
    margin-top: 0px;
  }

  .input-format {
    width: 200px;
    height: 17px;
    margin: 10px;
    margin-top: 8px;
    font-size: 14px;
  }

  .input-amount {
    width: 157px;
    margin-left: 53px;
  }

  .currency-selector {
    position: absolute;
    width: 37px;
    margin-left: 57px;
    margin-top: 39px;
    padding-top: 2px;
    font-size: 8px;
  }

  .payasyoulike-button {
    margin-bottom: 35px;
  }

  .oswald {
    font-size: 13px;
  }

  .get-password-button {
    width: 130px;
    height: 28px;
    margin-top: 20px;
    margin-bottom: -10px;

    background: radial-gradient(
      65.33% 561.23% at 50% 50%,
      #ffffff 0%,
      #000000 100%
    );
    box-shadow: 0px 0px 20px 10px rgba(72, 72, 72, 0.2);
    border: none;
    border-radius: 15px;
  }

  /* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

  .solver > h1 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.03em;
  }

  .solver-button {
    width: 60px;
    height: 23px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 13px;

    border-radius: 5px;
  }

  .solver-button-cancel {
    cursor: pointer;

    justify-content: center;
    align-content: center;

    width: 60px;
    height: 23px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 13px;

    border-radius: 5px;
  }

  .input-solver {
    font-size: 18px;

    width: 30px;
    height: 25px;
    margin: 0px;
  }

  .msg-paid-notice > h1,
  .email-notice > h1 {
    font-size: 14px;
    line-height: 23px;

    padding: 5px 5px 5px 5px;
  }
}

@media (max-width: 361px) {
  #scroll-landing-payasyoulike {
    width: 10px;
    height: 10px;
    margin-top: -100px;
    margin-bottom: 0px;

    /* border: 1px solid red; */
  }

  .payasyoulike {
    margin-top: 0px;
    padding: 0px 20px 40px 20px;
  }

  .you-like-text {
    margin-left: -5px;
  }

  .underline-heading-payasyoulike {
    width: 138px;
    margin-left: 2px;
    margin-top: -35px;
    margin-bottom: 10px;
  }

  .main-text {
    width: 280px;
    height: 505px;

    font-size: 10px;
    line-height: 17px;
    margin-bottom: 50px;
  }

  .thanks {
    font-weight: 250;
    font-size: 11px;
    letter-spacing: 0em;
    margin-bottom: 20px;
  }

  .division-description {
    width: 276px;
    margin-top: -17px;
    margin-bottom: 15px;
    border: 0.5px solid #ffffff;
  }

  .contribution-chart {
    width: 280px;
    height: 40px;
  }

  .budget-box {
    height: 25px;
    width: fit-content;
    margin-left: 100px;
  }

  .contri-box {
    height: 20px;
  }

  .contri-text,
  .budget-text {
    font-size: 10px;
  }

  .budget-box,
  .contri-box {
    font-size: 11px;
  }

  /* ****************************************** */

  .password-instructions {
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: -1px;
  }

  .user-details {
    font-size: 12px;
    padding: 8px;
    padding-top: 6px;
    padding-bottom: 6px;

    letter-spacing: 0.01em;

    border-width: 3px 8px 3px 8px;
    border-style: solid;
    border-color: #ff7b00;
    box-shadow: 0px 0px 30px 5px rgba(255, 122, 0, 0.2);
    border-radius: 15px;
  }

  .name-email-amount {
    margin-top: 5px;
  }

  .name-text {
    margin-top: -18px;
  }

  .optional-text {
    margin-top: -11px;
    font-size: 8px;
  }

  .email-text {
    margin-top: 8px;
  }

  .amount-text {
    margin-top: 9px;
  }

  .contribution-zero {
    font-size: 9px;
    width: 180px;
    line-height: 12px;
    margin-left: 9px;
    margin-top: -3px;
  }

  .input-format {
    width: 180px;
    height: 15px;
    margin: 10px;
    margin-top: 8px;
    font-size: 12px;
  }

  .input-amount {
    width: 138px;
    margin-left: 53px;
  }

  .currency-selector {
    position: absolute;
    width: 37px;
    margin-left: 53px;
    margin-top: 39px;
    padding-top: 2px;
    font-size: 8px;
  }

  .payasyoulike-button {
    margin-bottom: 35px;
  }

  .oswald {
    font-size: 12px;
  }

  .get-password-button {
    width: 120px;
    height: 25px;
    margin-top: 18px;
    margin-bottom: -12px;

    background: radial-gradient(
      65.33% 561.23% at 50% 50%,
      #ffffff 0%,
      #000000 100%
    );
    box-shadow: 0px 0px 20px 10px rgba(72, 72, 72, 0.2);
    border: none;
    border-radius: 15px;
  }

  /* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

  .solver > h1 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.03em;
  }

  .solver-button {
    width: 60px;
    height: 23px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 13px;

    border-radius: 5px;
  }

  .solver-button-cancel {
    cursor: pointer;

    justify-content: center;
    align-content: center;

    width: 60px;
    height: 23px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 13px;

    border-radius: 5px;
  }

  .input-solver {
    font-size: 18px;

    width: 30px;
    height: 25px;
    margin: 0px;
  }

  .msg-paid-notice > h1,
  .email-notice > h1 {
    font-size: 13px;
    line-height: 20px;

    padding: 5px 5px 5px 5px;
  }
}
