/* Watch Film */

.fairyfolkthefilm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;

  margin-top: 100px;

  padding: 0px 50px 60px 50px;
  background: #000000;
  box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

#scroll-landing-watchfilm {
  width: 10px;
  height: 10px;
  margin-top: 10px;
  margin-bottom: -60px;
  /* border: 1px solid red; */
}

.folk-text {
  margin-left: 10px;
}

.underline-heading-fairyfolk {
  width: 440px;
  height: 0px;

  margin-top: -35px;
  margin-bottom: 20px;
  border: 0.5px solid #ffffff;
}

.casting {
  opacity: 0.3;
  transition: opacity 2s ease-in-out;
  position: relative;
  margin-bottom: 30px;
}

.casting-show {
  opacity: 1;
}

.cast-instruct {
  width: 1158px;

  text-align: justify;

  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: #ffffffc0;
}

.cast-icon {
  position: absolute;
  width: 30px;
  margin-top: -130px;
  margin-left: 227px;
  cursor: pointer;
}

.cast-icon-active:active {
  opacity: 0.5;
  transition: opacity 0.1s ease;
}

.no-app-notice {
  flex-direction: column;
  position: absolute;

  margin-top: 148px;

  z-index: 2000;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
}

.no-app-notice > h1 {
  cursor: pointer;
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: white;
  background: rgb(255, 0, 0);
  border-radius: 5px 5px 5px 5px;
  padding: 20px 10px 20px 10px;
}

.video-window-fairyfolk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  width: 1158px;
  height: 650px !important;

  background: #000000;

  box-shadow: 0px 0px 30px 2px rgba(255, 192, 130, 0.4);
}

.enter-pass {
  display: flex;
  flex-direction: column;

  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
  border-width: 5px 5px 5px 5px;
  border-style: solid;
  border-color: #ff7b00;
  box-shadow: 0px 0px 30px 5px rgba(255, 122, 0, 0.5);
  border-radius: 20px;
}

.submit-button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password {
  margin-top: 25px;
  width: 160px;

  background-color: black;
  border: 0px;
  color: white;
  outline: none;
  border-bottom: 0.5px solid white;
}

.pass-submit-button {
  cursor: pointer;
  width: 100px;
  height: 20px;

  margin-top: 18px;

  background: radial-gradient(
    65.33% 561.23% at 50% 50%,
    #ffffff 0%,
    #000000 100%
  );
  box-shadow: 0px 0px 20px 10px rgba(72, 72, 72, 0.5);
  border: none;
  border-radius: 5px;
}

.pass-submit-text {
  pointer-events: none;
  font-size: 15px;
  margin-top: -22px;
  margin-bottom: 0px;
  z-index: 100;
  color: #000000;
}

/* ***************************************************************************************** */

@media (max-width: 1620px) {
  #scroll-landing-watchfilm {
    width: 10px;
    height: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    /* border: 1px solid red; */
  }

  .fairyfolkthefilm {
    margin-top: 40px;
    padding: 0px 50px 60px 50px;
  }

  .folk-text {
    margin-left: 10px;
  }

  .underline-heading-fairyfolk {
    width: 358px;
    margin-left: 9px;

    margin-top: -35px;
    margin-bottom: 20px;
  }

  .casting {
    margin-bottom: 30px;
  }

  .cast-instruct {
    width: 1000px;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
  }

  .cast-icon {
    width: 28px;
    margin-top: -122px;
    margin-left: 204px;
  }

  .no-app-notice {
    margin-top: 125px;
  }

  .no-app-notice > h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    border-radius: 5px 5px 5px 5px;
    padding: 20px 10px 20px 10px;
  }

  .video-window-fairyfolk {
    margin-bottom: 10px;

    width: 1000px;
    height: 561px !important;

    background: #000000;

    box-shadow: 0px 0px 30px 2px rgba(255, 192, 130, 0.4);
  }

  .enter-pass {
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 10px;

    letter-spacing: 0.05em;

    border-width: 5px 5px 5px 5px;

    border-radius: 20px;
  }

  .password {
    margin-top: 25px;
    width: 160px;
  }

  .pass-submit-button {
    width: 100px;
    height: 20px;

    margin-top: 18px;

    border-radius: 5px;
  }

  .pass-submit-text {
    font-size: 15px;
    margin-top: -22px;
    margin-bottom: 0px;
  }
}

@media (max-width: 1220px) {
  #scroll-landing-watchfilm {
    width: 10px;
    height: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    /* border: 1px solid red; */
  }

  .fairyfolkthefilm {
    margin-top: 35px;
    padding: 0px 50px 60px 50px;
  }

  .folk-text {
    margin-left: 8px;
  }

  .underline-heading-fairyfolk {
    width: 309px;
    margin-left: 8px;

    margin-top: -35px;
    margin-bottom: 20px;
  }

  .casting {
    margin-bottom: 30px;
  }

  .cast-instruct {
    width: 850px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  .cast-icon {
    width: 28px;
    margin-top: -113px;
    margin-left: 184px;
  }

  .no-app-notice {
    margin-top: 120px;
  }

  .no-app-notice > h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    border-radius: 5px 5px 5px 5px;
    padding: 20px 10px 20px 10px;
  }

  .video-window-fairyfolk {
    margin-bottom: 10px;

    width: 850px;
    height: 477px !important;

    background: #000000;

    box-shadow: 0px 0px 30px 2px rgba(255, 192, 130, 0.4);
  }

  .enter-pass {
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 10px;

    letter-spacing: 0.05em;

    border-width: 5px 5px 5px 5px;

    border-radius: 20px;
  }

  .password {
    margin-top: 23px;
    width: 150px;
  }

  .pass-submit-button {
    width: 100px;
    height: 20px;

    margin-top: 18px;

    border-radius: 5px;
  }

  .pass-submit-text {
    font-size: 15px;
    margin-top: -22px;
    margin-bottom: 0px;
  }
}

@media (max-width: 1025px) {
  #scroll-landing-watchfilm {
    width: 10px;
    height: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    /* border: 1px solid red; */
  }

  .fairyfolkthefilm {
    margin-top: 30px;
    padding: 0px 50px 60px 50px;
  }

  .folk-text {
    margin-left: 6px;
  }

  .underline-heading-fairyfolk {
    width: 277px;
    margin-left: 7px;

    margin-top: -35px;
    margin-bottom: 20px;
  }

  .casting {
    margin-bottom: 30px;
  }

  .cast-instruct {
    width: 600px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .cast-icon {
    width: 26px;
    margin-top: -119px;
    margin-left: 165px;
  }

  .no-app-notice {
    margin-top: 115px;
  }

  .no-app-notice > h1 {
    font-size: 16px;
    line-height: 25px;

    border-radius: 5px 5px 5px 5px;
    padding: 15px 10px 15px 10px;
  }

  .video-window-fairyfolk {
    margin-top: -10px;
    margin-bottom: 10px;

    width: 600px;
    height: 337px !important;

    background: #000000;

    box-shadow: 0px 0px 30px 2px rgba(255, 192, 130, 0.4);
  }

  .enter-pass {
    font-size: 14px;
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 10px;

    letter-spacing: 0.05em;

    border-width: 3px 3px 3px 3px;

    border-radius: 18px;
  }

  .password {
    margin-top: 20px;
    width: 127px;
  }

  .pass-submit-button {
    width: 100px;
    height: 20px;

    margin-top: 18px;

    border-radius: 5px;
  }

  .pass-submit-text {
    font-size: 15px;
    margin-top: -22px;
    margin-bottom: 0px;
  }
}

@media (max-width: 769px) {
  #scroll-landing-watchfilm {
    width: 10px;
    height: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    /* border: 1px solid red; */
  }

  .fairyfolkthefilm {
    margin-top: 30px;
    padding: 0px 30px 40px 30px;
  }

  .folk-text {
    margin-left: 6px;
  }

  .underline-heading-fairyfolk {
    width: 239px;
    margin-left: 6px;

    margin-top: -35px;
    margin-bottom: 20px;
  }

  .casting {
    margin-bottom: 30px;
  }

  .cast-instruct {
    width: 450px;
    font-size: 13px;
    line-height: 22px;
  }

  .cast-icon {
    width: 22px;
    margin-top: -105px;
    margin-left: 139px;
  }

  .no-app-notice {
    margin-top: 100px;
  }

  .no-app-notice > h1 {
    font-size: 14px;
    line-height: 23px;

    border-radius: 5px 5px 5px 5px;
    padding: 13px 10px 13px 10px;
  }

  .video-window-fairyfolk {
    margin-top: -10px;
    margin-bottom: 10px;

    width: 450px;
    height: 252px !important;

    background: #000000;

    box-shadow: 0px 0px 30px 2px rgba(255, 192, 130, 0.4);
  }

  .enter-pass {
    font-size: 13px;
    padding: 12px;
    padding-top: 15px;
    padding-bottom: 10px;

    letter-spacing: 0.05em;

    border-width: 2px 2px 2px 2px;

    border-radius: 16px;
  }

  .password {
    margin-top: 14px;
    width: 116px;
  }

  .pass-submit-button {
    width: 80px;
    height: 20px;

    margin-top: 18px;

    border-radius: 5px;
  }

  .pass-submit-text {
    font-size: 13px;
    margin-top: -20px;
    margin-bottom: 0px;
  }
}

@media (max-width: 481px) {
  #scroll-landing-watchfilm {
    width: 10px;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    /* border: 1px solid red; */
  }

  .fairyfolkthefilm {
    margin-top: 10px;
    padding: 0px 30px 25px 30px;
  }

  .folk-text {
    margin-left: 3px;
  }

  .underline-heading-fairyfolk {
    width: 174px;
    margin-left: 5px;

    margin-top: -35px;
    margin-bottom: 20px;
  }

  .casting {
    margin-bottom: 30px;
  }

  .cast-instruct {
    width: 300px;
    font-size: 12px;
    line-height: 19px;
    margin-top: 5px;
  }

  .cast-icon {
    width: 19px;
    margin-top: -130px;
    margin-left: 121px;
  }

  .no-app-notice {
    margin-top: 100px;
  }

  .no-app-notice > h1 {
    font-size: 14px;
    line-height: 23px;

    border-radius: 5px 5px 5px 5px;
    padding: 13px 10px 13px 10px;
  }

  .video-window-fairyfolk {
    margin-top: -18px;
    margin-bottom: 10px;

    width: 300px;
    height: 168px !important;

    background: #000000;

    box-shadow: 0px 0px 30px 2px rgba(255, 192, 130, 0.4);
  }

  .enter-pass {
    font-size: 10px;
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 10px;

    letter-spacing: 0.05em;

    border-width: 1px 1px 1px 1px;

    border-radius: 16px;
  }

  .password {
    margin-top: 12px;
    width: 91px;
  }

  .pass-submit-button {
    width: 70px;
    height: 18px;

    margin-top: 18px;

    border-radius: 5px;
  }

  .pass-submit-text {
    font-size: 11px;
    margin-top: -18px;
    margin-bottom: 0px;
  }
}

@media (max-width: 361px) {
  #scroll-landing-watchfilm {
    width: 10px;
    height: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    /* border: 1px solid red; */
  }

  .fairyfolkthefilm {
    margin-top: 5px;
    padding: 0px 20px 25px 20px;
  }

  .folk-text {
    margin-left: 2px;
  }

  .underline-heading-fairyfolk {
    width: 144px;
    margin-left: 3px;

    margin-top: -35px;
    margin-bottom: 20px;
  }

  .casting {
    margin-bottom: 30px;
  }

  .cast-instruct {
    width: 280px;
    font-size: 10px;
    line-height: 17px;
    margin-top: 3px;
  }

  .cast-icon {
    width: 15px;
    margin-top: -97px;
    margin-left: 100px;
    
  }

  .no-app-notice {
    margin-top: 100px;
  }

  .no-app-notice > h1 {
    font-size: 14px;
    line-height: 23px;

    border-radius: 5px 5px 5px 5px;
    padding: 13px 10px 13px 10px;
  }

  .video-window-fairyfolk {
    margin-top: -20px;
    margin-bottom: 10px;

    width: 280px;
    height: 157px !important;

    background: #000000;

    box-shadow: 0px 0px 30px 2px rgba(255, 192, 130, 0.4);
  }

  .enter-pass {
    font-size: 8px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    letter-spacing: 0.05em;

    border-width: 1px 1px 1px 1px;

    border-radius: 16px;
  }

  .password {
    margin-top: 10px;
    width: 73px;
  }

  .pass-submit-button {
    width: 60px;
    height: 16px;

    margin-top: 14px;

    border-radius: 5px;
  }

  .pass-submit-text {
    font-size: 9.5px;
    margin-top: -16px;
    margin-bottom: 0px;
  }
}
