/* Watch Film */

.fairyfolkthefilm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;

  margin-top: 100px;

  padding: 0px 50px 60px 50px;
  background: #000000;
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}

#scroll-landing-watchfilm {
  margin-top: -60px;
  margin-bottom: 60px;
  /* border: 1px solid red; */
}

.folk-text {
  margin-left: 10px;
}

.underline-heading-fairyfolk {
  width: 440px;
  height: 0px;

  margin-top: -35px;
  margin-bottom: 20px;
  border: 0.5px solid #ffffff;
}

.casting {
  opacity: 0.3;
  transition: opacity 2s ease-in-out;
  position: relative;
  margin-bottom: 30px;
}

.casting-show {
  opacity: 1;
}

.cast-instruct {
  width: 1158px;

  text-align: justify;

  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: #ffffffc0;
}

.cast-icon {
  position: absolute;
  width: 30px;
  margin-top: -130px;
  margin-left: 222px;
  cursor: pointer;
}

.cast-icon-active:active {
  opacity: 0.5;
  transition: opacity 0.1s ease;
}

.no-app-notice {
  flex-direction: column;
  position: absolute;

  margin-top: 148px;

  z-index: 2000;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
}

.no-app-notice > h1 {
  cursor: pointer;
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: white;
  background: rgb(255, 0, 0);
  border-radius: 5px 5px 5px 5px;
  padding: 20px 10px 20px 10px;
}

.video-window-fairyfolk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  width: 1158px;
  height: 650px !important;

  background: #000000;

  box-shadow: 0px 0px 30px 2px rgba(255, 192, 130, 0.4);
}

.enter-pass {
  display: flex;
  flex-direction: column;

  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
  border-width: 5px 5px 5px 5px;
  border-style: solid;
  border-color: #ff7b00;
  box-shadow: 0px 0px 30px 5px rgba(255, 122, 0, 0.5);
  border-radius: 20px;
}

.submit-button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password {
  margin-top: 25px;
  width: 160px;

  background-color: black;
  border: 0px;
  color: white;
  outline: none;
  border-bottom: 0.5px solid white;
}

.pass-submit-button {
  cursor: pointer;
  width: 100px;
  height: 20px;

  margin-top: 18px;

  background: radial-gradient(
    65.33% 561.23% at 50% 50%,
    #ffffff 0%,
    #000000 100%
  );
  box-shadow: 0px 0px 20px 10px rgba(72, 72, 72, 0.5);
  border: none;
  border-radius: 5px;
}

.pass-submit-text {
  pointer-events: none;
  font-size: 15px;
  margin-top: -22px;
  margin-bottom: 0px;
  z-index: 100;
  color: #000000;
}
